body {
    display: flex;
    flex-direction: column;
    font-family: sans-serif;
}
.header, .hero, .footer {
    background-color: #1F2937;
    color: white;

}

.header {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    padding: 15px 100px;
}

.hero {
    display: flex;
    padding: 50px 100px;
    align-items: center;
}

.header-logo {
    font-size: 24px;
    color: #F9FAF8;
    margin-right: auto;
    font-weight: 700;
}

.header-links {
    font-size: 18px;
    color: #E5E7EB;
}

.hero-main-text {
    font-size: 48px;
    font-weight: 800;
    color: #F9FAF8;
}

.hero-main {

}

.hero-img {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: grey;
    padding: 20px;
    min-width: 420px;
    height: 160px;
    margin: 20px;
}

button {
    background-color: #3882F6;
    color: white;
    padding: 8px 30px;
    margin: 8px;
    border-radius: 10px;
    border-color: white;
}

.hero button {
    border: none;
}

/* .information {
    display: flex;
} */
